<!doctype html>
<html>
   <body>
      <h1>Welcome to Dashboard3000</h1>
      <br>
      <p>Use the links below to add health data you want to track, </p>
      <p>get recommendations on what activities would be most </p>
      <p>appropriate with the current weather conditions, view your </p>
      <p>customized Good Life Score Card, and more!</p><br>
      <a href = "/">Home Page (you are here)</a>
      <br>
      <br><a href = "/enternew">Make a New Health Database Entry</a>
      <br>
      <br><a href = "/list">View Records in the Health Database</a>
      <br>
      <br><a href = "/enterquote">Make a New Quote Database Entry</a>
      <br>
      <br><a href = "/listquote">View Records in the Quote Database</a>
      <br>
      <br><a href = "/entercsv">Erase existing health DB and load data from CSV file</a>
      <br>
      <br><a href = "/weather">View weather conditions and suggested activities</a>
      <br>
      <br><a href = "/activities">View suggestions for things to do today</a>

   </body>
</html>
